body{
	background: url(../images/bg.jpg);
	}
#game{
	width: 500px;
	height: 460px;
	margin: 0 auto;
	background: url(../images/table.jpg);
	border-radius: 10px;
	border: 1px solid rgb(102,102,102);
	display: -webkit-box;
	/*display: -webkit-box;*/
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
#cards{
	width: 380px;
	height: 400px;
	position: relative;
	
}
.card{
	/**/
	position: absolute;
	
	/*-webkit-perspective: 600;*/
	width: 80px;
	height: 120px;
}
.card:hover .face,.flipped .face{
	-webkit-box-shadow: 0 0 10px #aaa;

}
.face{

	width: 100%;
	height: 100%;
	border-radius: 10px;
	position: absolute;
	/**/
	-webkit-transition-property:-webkit-transform,
	opacity,-webkit-box-shadow;
	-webkit-transition-duration: .5s;
}
.front{	

	-webkit-backface-visibility: hidden;
	background: url(../images/deck.png) 0 -480px #999;
	z-index: 10;
}
.back{
	background: url(../images/deck.png);
	/*-webkit-transform: rotateY(-180deg);*/
	z-index: 8;
}
.flipped .front{
	z-index: 10;
	-webkit-transform: rotateY(180deg);
}
.flipped .back{
	z-index: 8;
	-webkit-box-shadow: 0 0 10px #aaa;
	-webkit-transform: rotateY(180deg);
}
.removeCard{
	opacity: 0;
}
.cardAJ {background-position: -800px 0;}
.cardAQ {background-position: -880px 0;}
.cardAK {background-position: -960px 0;}
.cardBJ {background-position: -800px -120px;}
.cardBQ {background-position: -880px -120px;}
.cardBK {background-position: -960px -120px;}
.cardCJ {background-position: -800px -240px;}
.cardCQ {background-position: -880px -240px;}
.cardCK {background-position: -960px -240px;}
.cardDJ {background-position: -800px -360px;}
.cardDQ {background-position: -880px -360px;}
.cardDK {background-position: -960px -360px;}



