--- 
layout: default 
title: learning forever
tagline: In my hands I held the Sword of Faith.
--- 
{% include JB/setup %}
<div class="container">
      <div class="header">
        <h1 class="text-muted text-center">Fight Team</h1>
        <p class="text-center">我们追寻技术、我们追寻创新！</p>
      </div>

      <div class="row">
      			<div class="col-md-5 logo visible-lg">
      				<div class="col-md-6">
      					<div class="f-line-top"></div>
						<div class="f-vertical"></div>
						<div class="f-line-middle"></div>
      				</div>
      				<div class="col-md-6">
      					<div class="t-line"></div>
						<div class="t-vertical"></div>
      				</div>
					
				</div>
				<div class="col-md-7">
					<div class="list-group">
						<h3>开源项目</h3>
						{% assign posts_collate = site.posts %}
						{% include JB/posts_collate %}
					</div>
				</div>
			</div>
</div>